!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
$RECYCLE.BIN/
*$py.class
*.DS_Store
*.cab
*.cover
*.egg
*.egg-info/
*.iws
*.lnk
*.manifest
*.mo
*.msi
*.msm
*.msp
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
*/build/*
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.directory
.eggs/
.env
.env*
.fseventsd
.fuse_hidden*
.history
.hypothesis/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea/sonarlint
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nfs*
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/*
.webassets-cache
/.rakeTasks
/out/
/site
Desktop.ini
ENV/
Icon
Network Trash Folder
Temporary Items
Thumbs.db
__pycache__/
_data
atlassian-ide-plugin.xml
build/
celerybeat-schedule.*
cmake-build-debug/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
data
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
fabric.properties
htmlcov/
instance/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv.bak/
venv/
wheels/
